doctype html
html
    head
        title= title 
        link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
    body
        block content
            nav.navbar.navbar-inverse
                .container-fluid
                    .navbar-header
                        a.navbar-brand(href='/')
                            = title

                    ul.nav.navbar-nav
                        li
                            a(href='/') Home
                        li
                            a(href='/list') List Credit Cards
                        li
                            a(href='/add') Add Credit Card

                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/')
                                | You are logged in as
                                | waleedahmq@gmail.com

            .container
                h2= heading
                h3.error Status: #{statusCode} #{status}
                h4.error Message: #{message}
